{% load static %}

<!DOCTYPE html>
<html lang="{{ html_lang }}">
  <head>
    {% include "global/partials/_head.html" %}
    <title>{% block "title" %}{% endblock "title" %} | Recipes</title>
  </head>
  <body>
    {% include 'global/partials/_menu.html' %}
    {% include "global/partials/_header.html" %}
    {% include "global/partials/_search.html" %}
    <main class="main-content-container">
      {% block "content" %}{% endblock "content" %}
      {% include "global/partials/_pagination.html" %}
    </main>
    {% include "global/partials/_footer.html" %}
    <script src="{% static "global/js/script.js" %}"></script>
  </body>
</html>
